.login{
  display: flex;
  flex-direction: row;
  padding: 20px;
  .contentLogin{
      padding: 0px;
      .CardLogin{
          margin: 188px 100px 289px 0px ;
          background: #FFFFFF;
          padding: 0px;
          box-sizing: border-box;
          align-items: flex-start;
          border-radius: 16px;
          width: 440px;
          border: none;
          .CardBodyLogin{
              padding: 30px;
              .CardImgLogo{
                  width: 65px;
                  &:hover{
                      cursor: pointer;
                      opacity: 0.7;
                  }
              }
              .signIn{
                  margin: 24px 0px 16px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 28px;
                  line-height: 28px;
                  letter-spacing: -0.5px;
                  color: #1A2649;
              }
              .hiDear{
                  margin-bottom:24px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 150%;
                  color: #636A82; 
                  .EmailAddress{
                    color:#F96F37
                  }      
              }
              .formLogin{
                  width: 380px;
                  .formGroupLogin{
                      .LabelEmail{
                          font-family: 'Inter';
                          font-style: normal;
                          font-weight: 400;
                          font-size: 14px;
                          line-height: 150%;
                          color: #1A2649;       
                      }
                      .inputEmail{
                          margin-bottom: 16px;
                          padding: 12px 16px;
                          background: #F7F7F7;
                          border-radius: 6px;  
                          font-family: 'Inter';
                          font-style: normal;
                          font-weight: 400;
                          font-size: 14px;
                          line-height: 24px;
                          color: #636A82;
                          border: none;               
                      }
                      .iconPass{
                          margin-bottom: 16px;
                          background: #F7F7F7;
                          border: none;
                          &:hover{
                              cursor: pointer;
                              opacity: 0.7;
                          }
                      }
                      .Credit{
                        .inputCredit{
                          padding: 12px 16px;
                          background: #F7F7F7;
                          border-radius: 6px;
                          border: none;
                          font-family: 'Inter';
                          font-style: normal;
                          font-weight: 400;
                          font-size: 14px;
                          line-height: 24px;
                          color: #636A82;
                        }
                        .inputNumber{
                          width: 200px;
                        }
                        .inputMMYY{
                          width: 80px;
                          margin: 0px 10px;
                        }
                        .inputCVV{
                          width: 80px;
                        }
                      }
                      .check{
                        margin: 24px 0px 16px;
                        .formCheck{
                          width: 18px;
                          margin: 0px;
                          border-radius: 2px;
                          &:hover{
                            cursor: pointer;
                            opacity: 0.7;
                        }
                        }
                        .textCheck{
                          margin-left: 9px;
                          width: 303px;
                          font-family: 'Inter';
                          font-style: normal;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 150%;
                          color: #636A82;
                          .spanCheck{
                            color: #5499F8;
                            &:hover{
                              cursor: pointer;
                              opacity: 0.7;
                          }
                          }
                        }
                      }
                  }
              }
              .Forgot{
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 150%;
                  text-align: right;
                  color: #5F85F5; 
                  margin-bottom: 16px;
                  &:hover{
                      cursor: pointer;
                      opacity: 0.7;
                  }       
              }
              .buttonLogin{
                  width: 380px;
                  margin: 8px 0px 24px;
                  justify-content: center;
                  align-items: center;
                  padding: 12px ;
                  background: #F96F37;
                  border-radius: 6px;  
                  border: none; 
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 24px;
                  text-transform: uppercase;
                  color: #FFFFFF; 
                  &:hover{
                      cursor: pointer;
                      opacity: 0.7;
                  }
              }
              .Register{
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 150%;
                  text-align: center;
                  color: #9A9A9A;
                  width: 380px;
                  &:hover{
                      cursor: pointer;
                      opacity: 0.7;
                  }
              }
          
          }
      }
      .CardRegister{
        margin: 104px 104px 158px 0px;
      }
  }
  .imgLogin{
      padding: 0px;
      border: none;
      margin: 50px 0px;
  }
}

@media (max-width: 1025px){
.login{
  display: flex;
  flex-direction: row;
  .contentLogin{
    padding: 0px;
    .CardLogin{
      margin: 50px 30px 289px 0px ;
      .CardBodyLogin{
        padding: 30px;
      }
    }
    .CardRegister{
      margin: 20px 30px 158px 0px;
    }
  }
}
.imgLogin{
  img{
      width: 450px;
      height: 600px;
  }
}
}
@media (max-width: 768px){
  .login{
    display: flex;
    flex-direction: column;
    .contentLogin{
      display: flex;
      justify-content: center;
      .CardLogin{
        margin: 0px;
      }
    }
    .imgLogin{
      width: 100%;
      div{
        display: flex;
        justify-content: center;
        img{
          width: 380px;
          height: 500px;
        }
      }
    }
  }
}
@media (max-width: 500px){
.login{
  padding: 0px;
  .contentLogin{
    .CardLogin{
      .CardBodyLogin{
        .formLogin{
          width: 320px;
          .formGroupLogin{
            .check{
              .textCheck{
                width: 280px;
              }
            }
          }
        }
        .buttonLogin{
          width: 320px;
        }
        .Register{
          width: 320px;
        }
      }
    }
  }
  .imgLogin{
    width: 300;
    .divImgLogin{
      img{
        width: 350px;
        height: 500px;
      }
    }
  }
}
}
@media (max-width: 400px){
.login{
  .contentLogin{
    .CardLogin{
      .CardBodyLogin{
        .formLogin{
          width: 300px;
        }
        .buttonLogin{
          width: 300px;
        }
        .Register{
          width: 300px;
        }
      }
    }
  }
  .imgLogin{
    .divImgLogin{
      img{
        width: 300px;
        height: 400px;
      }
    }
  }
}
}