.EasyHome{
  display: flex;
  justify-content: center;
  padding: 200px 160px;
  .RowEasy{
    .imgEasy{
      width: 790px;
      height: 790px;
      background: url("../../../../assets/img/1.png")  no-repeat ;
      background-size: 790px 800px;
      margin: 0px;
      .ReebokStore{
        width: 235.77px;
        height: 64.63px;
        background: url("../../../../assets/img/Group 105.png")  no-repeat ;
        background-size: 320px 140px;
        background-position: -40px -40px;
        position:relative;
        left: -54px;
        top: 200px;
      }
      .cardEasy{
        width: 448.4px;
        height: 377px;
        background: url("../../../../assets/img/Chrome.png")  no-repeat ;
        background-position: -170px -170px;
        background-size: 740px 700px;
        position:relative;
        left: 371px;
        top: 454px;
        margin:0px;
      }
    }
    .contentEasy{
      margin: 137px 0px 0px 150px;
      .flexContentEasy{
        max-width: 520px;
        .titleEasy{
          margin-bottom: 32px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 700;
          font-size: 56px;
          line-height: 52px;
          letter-spacing: -1.4px;
          color: #17181B;
          .spanTitle{
            color: #646572;
          }
        }
        .textEasy{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #17181B;
          margin: 0px;
        }
        .Improve{
          margin-top: 28px;
        }
      }
    }
  }
}

@media (max-width: 1650px){
  .EasyHome{
    padding: 140px 160px ;
    .RowEasy{
      .imgEasy{
        width: 540px;
        height: 540px;
        background-size: 540px 540px;
        .ReebokStore{
          width: 235.77px;
          height: 64.63px;
          background-size: 320px 140px;
          background-position: -40px -40px;
          left: -54px;
          top: 100px;
        }
        .cardEasy{
          width: 374.66px;
          height: 315px;
          background-position: -140px -140px;
          background-size: 620px 570px;
          left: 202px;
          top: 271px;
        }
      }
      .contentEasy{
        margin-top: 102px;
        margin-left: 76px;
        .flexContentEasy{
          max-width: 480px;
          .titleEasy{
            margin-bottom: 24px;
            font-size: 44px;
          }
          .textEasy{
            font-size: 16px;
            margin: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 1300px){
  .EasyHome{
    padding: 140px 24px 203px;
    .RowEasy{
      .imgEasy{
        width: 480px;
        height: 480px;
        background-size: 480px 480px;
        .ReebokStore{
          width: 179px;
          height: 54px;
          background-size: 260px 120px;
          background-position: -40px -40px;
          left: -54px;
          top: 90px;
        }
        .cardEasy{
          width: 374.66px;
          height: 315px;
          background-position: -140px -140px;
          background-size: 620px 570px;
          left: 160px;
          top: 227px;
        }
      }
      .contentEasy{
        margin-top: 36px;
        .flexContentEasy{
          max-width: 397px;
          .titleEasy{
            margin-bottom: 24px;
            font-size: 44px;
          }
          .textEasy{
            font-size: 16px;
            margin: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px){
  .EasyHome{
    padding: 100px 24px 0px;
    .RowEasy{
      .imgEasy{
        display: block;
        margin:0px  auto 56px auto;
        width: 720px;
        height: 720px;
        background-size: 720px 720px;
        .ReebokStore{
          width: 235.77px;
          height: 64.63px;
          background-size: 320px 140px;
          background-position: -40px -40px;
          left: -43px;
          top: 200px;
        }
        .cardEasy{
          width: 374.66px;
          height: 315px;
          background-position: -140px -140px;
          background-size: 620px 570px;
          left: 356px;
          top: 417px;
        }
      }
      .contentEasy{
        margin: 0px;
        display: flex;
        justify-content: center;
        .flexContentEasy{
          max-width: 720px;
          .titleEasy{
            margin-bottom: 24px;
            font-size: 32px;
          }
          .textEasy{
            font-size: 16px;
            margin: 0px;
          }
          .Improve{
            margin: 28px 0px 100px;
          }
        }
      }
    }
  }
}
@media (max-width: 750px){
  .EasyHome{
    padding: 100px 16px;
    .RowEasy{
      .imgEasy{
        width: 568px;
        height: 568px;
        background-size: 568px 568px;
        .ReebokStore{
          width: 235.77px;
          height: 64.63px;
          background-size: 320px 140px;
          background-position: -40px -40px;
          left: -43px;
          top: 100px;
        }
        .cardEasy{
          width: 321.14px;
          height: 270px;
          background-position: -120px -120px;
          background-size: 520px 470px;
          left: 263px;
          top: 317px;
        }
      }
      .contentEasy{
        .flexContentEasy{
          max-width: 568px;
        }
      }
    }
  }
}
@media (max-width: 590px){
  .EasyHome{
    padding: 80px 0px 0px;
    .RowEasy{
      .imgEasy{
        width: 328px;
        height: 328px;
        background-size: 328px 328px;
        .ReebokStore{
          width: 197px;
          height: 54px;
          background-size: 270px 130px;
          background-position: -40px -40px;
          left: -22px;
          top: 0px;
        }
        .cardEasy{
          width: 249.77px;
          height: 210px;
          background-position: -90px -90px;
          background-size: 400px 370px;
          left: 99px;
          top: 164px;
        }
      }
      .contentEasy{
        .flexContentEasy{
          max-width: 328px;
          .titleEasy{
            width: 300px;
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
          }
          .textEasy{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
          .Improve{
            margin: 28px 0px 80px;
          }
        }
      }
    }
  }
}
