.aa{
  color:aqua
}
.slider{
  .b{
    background-color: aquamarine;
  }
}
.b{
  background-color: aquamarine;
}
.slick-slider{
  .slick-list{
    width: 500px;
    background-color: aquamarine;
  }
}
.slick-initialized{
  .slick-list{
    width: 500px;
    background-color: aquamarine;
  }
}
element.style {
  width: 500px;
}